---
layout: default
---

<div class="bg">

	<article class="card" role="main">

		<header>
			{% include card-header.html %}
		</header>

		<section class="card-body">
			<p>Hi! I'm a passionate developer working together with designers to always create the best <strong>User Experience</strong>. I'm always eager to embrace the <strong>latest Web Standards</strong> and to make sites and apps for mobile, desktop and all kind of devices.</p>
		</section>

		<footer>
			{% include card-nav.html %}
		</footer>

	</article>

</div>

{% include schema.html %}
