{% assign data = site.data.site %}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Person",
		"address": {
			"@type": "PostalAddress",
			"addressLocality": "London",
			"addressRegion": "Greater London",
			"addressCountry": "United Kingdom"
		},
		"name": "{{ data.name }}",
		"jobTitle": "{{ data.jobTitle }}",
		"image": "{{ data.url }}/{{ data.photo }}",
		"description": "{{ data.description }}",
		"url": "{{ data.url }}",
		"sameAs": ["{{data.profiles | map: 'link' | join: '", "'}}"]
	}
</script>
