@use 'settings/colors';

.bg {
  background: colors.$color-blue-2;
  background: radial-gradient(
    center,
    ellipse cover,
    colors.$color-blue-1 0%,
    colors.$color-blue-2 50%,
    colors.$color-blue-3 100%
  );
  background: radial-gradient(
    center,
    ellipse cover,
    colors.$color-blue-1 0%,
    colors.$color-blue-2 50%,
    colors.$color-blue-3 100%
  );
  background: radial-gradient(
    center,
    ellipse cover,
    colors.$color-blue-1 0%,
    colors.$color-blue-2 50%,
    colors.$color-blue-3 100%
  );
  background: radial-gradient(
    center,
    ellipse cover,
    colors.$color-blue-1 0%,
    colors.$color-blue-2 50%,
    colors.$color-blue-3 100%
  );
  padding: 20px;
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
