@import 'settings/colors';

.bg {
  background: $color-blue-2;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    $color-blue-1 0%,
    $color-blue-2 50%,
    $color-blue-3 100%
  );
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    $color-blue-1 0%,
    $color-blue-2 50%,
    $color-blue-3 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    $color-blue-1 0%,
    $color-blue-2 50%,
    $color-blue-3 100%
  );
  background: radial-gradient(
    center,
    ellipse cover,
    $color-blue-1 0%,
    $color-blue-2 50%,
    $color-blue-3 100%
  );
  padding: 20px;
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
