@use 'settings/colors';
@use 'settings/fonts';

.card {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 500px;
  padding: fonts.$base-line-grid;
  text-align: center;
  background: colors.$color-white;
  background: rgba(colors.$color-white, 0.35);
  border-radius: 5px;
  box-shadow:
    0 5px 13px rgba(colors.$color-black, 0.4),
    inset 0 2px 2px rgba(colors.$color-white, 0.4);

  &-title {
    margin-bottom: 0;
  }

  &-subtitle {
    margin-top: 0;
  }

  &-photo {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border: 1px solid colors.$color-black;
    overflow: hidden;
  }

  &-nav {
    a {
      display: inline-block;
      width: fonts.$base-line-grid * 1.5;
      height: fonts.$base-line-grid * 1.5;
      transition: opacity 0.2s ease-in-out;
      padding: fonts.$base-line-grid * 0.25;

      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &-body {
    .list {
      a {
        display: block;
        padding: (fonts.$base-line-grid * 0.25) 0;
      }
    }
  }
}

@media (max-width: 440px) {
  .card {
    padding: fonts.$base-line-grid (fonts.$base-line-grid * 0.5);

    &-nav {
      a {
        width: fonts.$base-line-grid;
        height: fonts.$base-line-grid;
      }
    }
  }
}
