@import
  "settings/colors",
  "settings/fonts";

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

%margins {
  margin-top: $base-line-grid;
  margin-bottom: $base-line-grid;
}

p {
  @extend %margins;
}

h1 {
  @extend %margins;

  font-size: 3em;
  font-weight: 400;
  line-height: $base-line-grid * 2;
}

h2 {
  @extend %margins;

  font-size: 2em;
  font-weight: 400;
}

@media (max-width: 440px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
    line-height: $base-line-grid;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.3em;
  }
}
