@use 'settings/colors';
@use 'settings/fonts';

body {
  font-size: fonts.$base-font-size;
  line-height: fonts.$base-line-height;
  font-family: monospace;
}

%margins {
  margin-top: fonts.$base-line-grid;
  margin-bottom: fonts.$base-line-grid;
}

p {
  @extend %margins;
}

h1 {
  @extend %margins;

  font-size: 3em;
  font-weight: 400;
  line-height: fonts.$base-line-grid * 2;
}

h2 {
  @extend %margins;

  font-size: 2em;
  font-weight: 400;
}

@media (max-width: 440px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
    line-height: fonts.$base-line-grid;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.3em;
  }
}
