<!DOCTYPE html>
<html ⚡ lang="en" class="no-js">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<script async src="https://cdn.ampproject.org/v0.js"></script>
	{% assign data = site.data.site %}
	<title>{{ data.name }}: {{ data.jobTitle }}</title>
	<meta name="description" content="{{ data.bio }}">
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">

	<link rel="manifest" href="manifest.json">
	<link rel="canonical" href="{{ data.url }}" />
	<link rel="apple-touch-icon" sizes="180x180" href="/{{ data.photo }}">
	<link rel="shortcut icon" href="/favicon.ico">
	<meta name="theme-color" content="#006be3">

	<link rel="stylesheet" href="style.css">

	<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
	<script async custom-element="amp-install-serviceworker"
  src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>

</head>

<body>

{{content}}

<amp-install-serviceworker src="{{ site.url }}/sw.js" layout="nodisplay"></amp-install-serviceworker>

<script defer src="modernizr.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.7/svg4everybody.min.js"></script>
<script defer src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
	function onLoadCallback() {
		svg4everybody();
		WebFont.load({
			google: {
				families: ['Ubuntu Mono:400,700']
			}
		});
	}

	if (window.addEventListener)
		window.addEventListener("load", onLoadCallback, false);
	else if (window.attachEvent)
		window.attachEvent("onload", onLoadCallback);
	else window.onload = onLoadCallback;
</script>

</body>
</html>
