<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Fernando Pasik: Front-End Developer{% if page.title }%} - {{page.title}}{% endif %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Acme">
	<link rel="stylesheet" href="style.css">

	<script src="modernizr.js"></script>

</head>

<body>

{{content}}

</body>
</html>